{% extends 'app_gestion/base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="main-title">Nuestros Clientes</h1>
    <p class="main-subtitle">Aquí puedes gestionar la lista de todos tus clientes.</p>
    <a href="{% url 'agregar_cliente' %}" class="button-primary">Agregar Nuevo Cliente</a>
</div>

{% if clientes %}
    <table class="table-clients">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.email }}</td>
                    <td class="client-actions">
                        <a href="{% url 'editar_cliente' cliente.pk %}" class="button-secondary">Editar</a>
                        <a href="{% url 'eliminar_cliente' cliente.pk %}" class="button-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-center">No hay clientes registrados.</p>
{% endif %}

{% endblock %}
