{% extends 'app_gestion/base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="main-title">Pedidos de Lavandería</h1>
    <p class="main-subtitle">Aquí puedes gestionar todos los pedidos de la lavandería.</p>
    <a href="{% url 'agregar_pedido' %}" class="button-primary">Agregar Nuevo Pedido</a>
</div>

{% if pedidos %}
    <table class="table-clients">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha de Recepción</th>
                <th>Entrega Estimada</th>
                <th>Estado</th>
                <th>Total</th>
                <th>Empleado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.cliente }}</td>
                    <td>{{ pedido.fecha_recepcion }}</td>
                    <td>{{ pedido.fecha_entrega_estimada }}</td>
                    <td>{{ pedido.estado_pedido }}</td>
                    <td>{{ pedido.total_pedido }}</td>
                    <td>{{ pedido.empleado_recepcion }}</td>
                    <td class="client-actions">
                        <a href="{% url 'ver_pedido' pedido.pk %}" class="button-primary">Ver</a>
                        <a href="{% url 'editar_pedido' pedido.pk %}" class="button-secondary">Editar</a>
                        <a href="{% url 'eliminar_pedido' pedido.pk %}" class="button-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p class="text-center">No hay pedidos registrados.</p>
{% endif %}

{% endblock %}
