{% extends 'app_gestion/base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="main-title">Detalles de la Máquina</h1>
</div>

<div class="card">
    <p><strong>Número de Serie:</strong> {{ maquina.num_serie }}</p>
    <p><strong>Tipo de Máquina:</strong> {{ maquina.tipo_maquina }}</p>
    <p><strong>Capacidad de Carga:</strong> {{ maquina.capacidad_kg }}</p>
    <p><strong>Estado:</strong> {{ maquina.estado_operativo }}</p>
    <p><strong>Última Revisión:</strong> {{ maquina.ultima_revision }}</p>
</div>

<div class="text-center">
    <a href="{% url 'listar_maquinas' %}" class="button-secondary">Volver a la Lista</a>
</div>
{% endblock %}
