{% extends 'app_gestion/base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="main-title">Detalles del Cliente</h1>
</div>

<div class="card">
    <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
    <p><strong>Apellido:</strong> {{ cliente.apellido }}</p>
    <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
    <p><strong>Email:</strong> {{ cliente.email }}</p>
    <p><strong>Dirección de Recogida:</strong> {{ cliente.direccion_recogida }}</p>
    <p><strong>Dirección de Entrega:</strong> {{ cliente.direccion_entrega }}</p>
    <p><strong>Fecha de Registro:</strong> {{ cliente.fecha_registro }}</p>
    <p><strong>Notas del Cliente:</strong> {{ cliente.notas_cliente }}</p>
    <p><strong>Preferencias de Lavado:</strong> {{ cliente.preferencias_lavado }}</p>
</div>

<div class="text-center">
    <a href="{% url 'listar_clientes' %}" class="button-secondary">Volver a la Lista</a>
</div>
{% endblock %}
