{% extends 'app_gestion/base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="main-title">Detalles del Empleado</h1>
</div>

<div class="card">
    <p><strong>Nombre:</strong> {{ empleado.nombre }}</p>
    <p><strong>Apellido:</strong> {{ empleado.apellido }}</p>
    <p><strong>Cargo:</strong> {{ empleado.cargo }}</p>
    <p><strong>Fecha de Contratación:</strong> {{ empleado.fecha_contratacion }}</p>
    <p><strong>Salario:</strong> {{ empleado.salario }}</p>
    <p><strong>Turno:</strong> {{ empleado.turno }}</p>
    <p><strong>Teléfono:</strong> {{ empleado.telefono }}</p>
    <p><strong>Email:</strong> {{ empleado.email }}</p>
</div>

<div class="text-center">
    <a href="{% url 'listar_empleados' %}" class="button-secondary">Volver a la Lista</a>
</div>
{% endblock %}
